spring:
    application:
        name: config
    cloud:
        config:
            server:
                git:
                    uri: https://github.com/rarycoringa/dist-sys-ms-config-files.git
                    username: rarycoringa
                    password: ${GITHUB_ACCESS_TOKEN}
                    clone-on-start: true
                    default-label: main

eureka:
    client:
        fetch-registry: true
        register-with-eureka: true
        service-url:
            defaultZone: http://discovery1:8761/eureka,http://discovery2:8762/eureka
    instance:
        prefer-ip-address: true
